
@font-face {
    font-family: 'slayerregular';
    src: url("slayerfont/slayer11-webfont.woff2") format('woff2'),
         url("slayerfont/slayer11-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

/* https://newtfire.org/avatar/css/slayerfont/slayer11-webfont.woff2 */

body {
  background-color: #66b3ff;
  
}
h1 {
  color: white;
  text-align: center;
  font-size: 18px;
  font-family: 'slayerregular';
  
}
h2{
    color: white;
    text-align: center;
    font-size: 18px;
    font-family: 'slayerregular';
    border-bottom-style: solid;
    border-width: 2px;
}
h3 {
  color: black;
  text-align: center;
  font-size: 20px;
  font-family: 'slayerregular';
  
}

p {
  color: black;
  text-align: left;
  font-size: 14px;
  font-family: veranda;
}
p2{
    font-style: italic;
}
span.Zuko{
    color: #cc0000;
    font-weight: bold;
    
}
span.Aang{
    color: blue;
    font-weight: bold;
    
}

span.Other{
    font-style: italic;
}
