body {
  background-color: #e8d5ae;
  border: 2px solid #00CED1;
    padding: 50px;
    margin: 20px;
}
h1 {
  color: black;
  text-align: center;
  font-family: veranda;
}
p {
  color: black;
  text-align: center;
  font-family: veranda;
}